<link rel="icon" type="image/x-icon" href="https://github.com/andracs/sendnemt.dk/blob/main/sendnemt.png?raw=true">
<title>SendNemt - Database</title>

.container
  .header
    img#logo(src="https://github.com/andracs/sendnemt.dk/blob/main/sendnemt.png?raw=true")
    h1 Formular til pakkeinformation
    link(rel="stylesheet", href="/stylesheets/Styles.css")
    block content

  <h1>Afsender</h1>
  table 
    tr
      th SenderID
      th Name
      th Lastname
      th Email
      th Phone
      th Address
    - each Sender in senders
      tr
        td= Sender.SenderID
        td= Sender.FirstName
        td= Sender.LastName
        td= Sender.Email
        td= Sender.Phonenumber
        td= Sender.Address


        block content

  <h1>Modtager</h1>
  table 
    tr
      th ReceiverID
      th Name
      th Lastname
      th Email
      th Phone
      th Address
    - each Receiver in receivers
      tr
        td= Receiver.ReceiverID
        td= Receiver.FirstName
        td= Receiver.LastName
        td= Receiver.Email
        td= Receiver.Phonenumber
        td= Receiver.Address

  <h1>Pakkeinformation</h1>
  table 
    tr
      th PackageID
      th WeightInKG
    
    - each Package in packages
      tr
        td= Package.PackageID
        td= Package.WeightInKG
  
  form(action='/insertUser', method='post')
    label(for='firstName') First Name:
    input(type='text', name='firstName', id='firstName')
    br
    label(for='lastName') Last Name:
    input(type='text', name='lastName', id='lastName')
    br
    label(for='email') Email:
    input(type='text', name='email', id='email')
    br
    button(type='submit') Insert User