if package
  h1 Search Results
  p= 'Package ID: ' + package.PackageID
  p= 'Weight: ' + package.WeightInKG
  p= 'Length: ' + package.LengthInCM
  p= 'Width: ' + package.WidthInCM
  p= 'Height: ' + package.HeightInCM
  p= 'Content: ' + package.Content
  p= 'Worth: ' + package.WorthInKR
else
  p= 'No package found with that ID'